@{
    ViewBag.Title = "About";
}
<h2>About</h2>

<h3>Why</h3>
<p>
    Online Quiz was built as part of the Major Project for the UTS subject 49262 Web Technologies. The aim of the major project was to undertake the development of a dynamic web based information system. The project had the following specific aims:
    <ul>
        <li>To understand the difficulties and problems in formally developing a Web system which involves a large amount of constantly changing dynamic information.</li>
        <li>To understand and appreciate the difference between 'creating a website' and 'engineering a web based information system' with a focus towards maintenance.</li>
        <li>To understand the development process and any future maintenance of Web system using a sound engineering-based approach.</li>
    </ul>
</p>

<h3>Who</h3>
<p>
    This website was planned, designed, built and deployed by both Shale Kuzmanovski and Ali Alharthi. Both Shale and Ali are full time engineering students at the University of Technology Sydney.
</p>
