@{
    ViewBag.Title = "Home Page";
}

<div class="splash">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Online Quiz</h1>
                <p><strong>A place for teachers to easily examine their students. A place for students to progress their learning.</strong></p>
                <p>
                    <a class="btn btn-primary">Learn more</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Visit the Quiz page to view the quizzes available for you to take or to create a new quiz if you are a teacher.
        </p>
        <p><a class="btn btn-default" href="/Quiz/">Quizzes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get help</h2>
        <p>Need help getting started with creating or taking a quiz? Visit our help page for a quick breakdown on how to use this website.</p>
        <p><a class="btn btn-default">Help page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learn About Us</h2>
        <p>Visit the about page to learn more about why this website was built and who designed and built it.</p>
        <p><a class="btn btn-default" href="/Home/About/">Learn more &raquo;</a></p>
    </div>
</div>